* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    margin-bottom: 20px;
  }
  
  body {
    background-color: #333;
  }
  
  h1 {
    text-align: center;
    color: white;
  }
  
  li,
  a,
  button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
  }
  
  .logo {
    cursor: pointer;
    margin-right: auto;
    border-radius: 50%;
  }
  
  .nav__links {
    list-style: none;
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: lightcoral;
  }
  
  .photo {
    text-align: center;
    margin-top: 10px;
  }
  
  .text {
    text-align: center;
    color: white;
  }
  
  .tiktok {
    text-align: center;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    height: 100%;
    min-height: 100%;
  }
  
  body {
    font-family: "Cairo" sans-serif;
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    background: #333;
  }
  
  /*card styling*/
  
  .container {
    width: 50%;
    margin: 2rem auto;
  }
  
  .card {
    display: flex;
    background-color: lightslategrey;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.28);
    border-radius: 15px;
    color: white;
  }
  
  .card-image {
    overflow: hidden;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
  }
  
  .card-content {
    padding: 2rem;
  }
  
  .blog-details,
  .icon-text {
    display: flex;
    align-items: center;
  }
  
  .icon-text {
    margin-right: 1rem;
    color: white;
  }
  
  .icon-text .icon {
    color: red;
    margin-right: 0.4rem;
  }
  
  .blog-cta {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    padding: 1.6rem 3rem;
    display: inline-block;
    background-color: black;
    border-radius: 0.6rem;
    color: white;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: grey;
  }
  
  @media screen and (min-width: 900px) {
    .card {
      display: flex;
      overflow: hidden;
    }
  
    .card-image {
      height: auto;
      flex: 1;
    }
  
    .card-content {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  