* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  background-color: #333;
}

body{
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: white;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  border-radius: 50%;
}

.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: lightcoral;
}

.era {
  text-align: center;
  margin: auto;
  border-radius: 15%;
  margin-bottom: 40px;
}

.era a {
  filter: grayscale(100%);
}

.era a:hover {
  filter: grayscale(0%);
}

.tiktok {
  text-align: center;
}
